@import "partials/reset";
@import "partials/fonts";
@import "partials/takeaway";
@import "partials/cart";

html {
  height: 100%;
  //  --top-spacing: 110px;
  font-family: "Roboto";
}

body {
  scroll-padding-top: var(--top-spacing);
  margin: var(--top-spacing) auto;
  
}
.content {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  top: 100px;
  width: 100vw;
  height: 400px;
  background: url('../img/Shrimp_Salad.jpg'), radial-gradient(#ccc, #333);
  background-blend-mode: multiply;
  color: wheat;
  h1 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
    padding: 16px;
    border: 3px solid wheat;
    background-color: rgba(green, .6);
    border-radius: 12px;
  }
  a {
    color: wheat;
    text-decoration: none;
  }
}
.header {
  height: 80px;
  width: 100%;
  nav {
    height: 100%;
  }
  ul {
    width: 60%;
    height: 100%;
    font-weight: 600;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.6rem;
  }
  a:active,
  a:focus,
  a:hover {
    color: green;
  }
  
}
